.wrapper {
    text-align: center;
    padding-left: 30%;
    padding-right:10%;
    background-color: black;
    color: azure;
}

.header {
    text-align: center;
    padding-bottom: 20px;
    background-color: black;
    color: red;
}
.body {
    background-color: darkred;
}
.section1 {
    text-align: center;
    

}

   

